body{
    display: flex;
  justify-content: center;
  position: relative;
    background-image: url("https://source.unsplash.com/1600x900/?autumn");
    background-repeat: no-repeat;
    background-attachment: scroll;
    max-width: fit-content;
    max-height:fit-content;
    background-clip: border-box;
    align-items: center;

    margin-top: 50px;
    padding-left: 20%;
    padding-top: 10%;

}


.temp{
    color:aliceblue ;
}

header{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background:rgb(217, 105, 248);
    color:burlywood;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background:rgb(8, 231, 190);

}


.search-bar{
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    width: 80%;
}

input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background:rgb(192, 223, 16);
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 105%;
    width: calc(100% - 100px);
    transition: 0.2s ease-in-out;
    
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color:rgb(47, 139, 111);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background:white;

}

input.search-bar:hover{
    background:white;
}
.app-wrap{
    background-color: rgb(71, 146, 244);
    color:rgb(20, 20, 19);
    padding: 2em;
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    margin: 3em;
    border-color:rgb(183, 173, 68);
    border-style: inset;
}


h1.temp {
    margin: 0;
    margin-bottom: 0.4em;  
}

.weather.loading{
    visibility: hidden;
  max-height: 20px;
  position: relative;
}
.weather.loading::after{
    visibility: visible;
  content: "Loading...";
  color: black;
  position: absolute;
  top: 0;
  left: 20px;
}